/* PURPLE */

:root {
  /* BODY */
  --body-bg2: #0d0931;
  --body-bg1: #412b49;

  /* CALCULATOR */
  --calculator-bg: linear-gradient(33deg, #27182f, #1a1a1a);

  /* BUTTONS */
  --buttons: #732d94;
  --buttons-hover: #8932b1;

  --buttons-text: #f0daf9;

  /* OUTPUT */
  --current-output: #e2b2fa;
  --previous-output: #e1c1f7b5;

  --output-shadow: inset -4px 4px 20px #000000;
  --output-bg: linear-gradient(
    33deg,
    #292929,
    #131313 50%,
    #0d0d0d 75%,
    #000 95%
  );
}
