/* RED */

:root {
  /* BODY */
  --body-bg1: rgb(64, 17, 19);
  --body-bg2: rgb(14, 7, 7);

  /* CALCULATOR */
  --calculator-bg: linear-gradient(33deg, #160e0e, #121111);

  /* BUTTONS */
  --buttons: #72060d;
  --buttons-hover: #a40711;

  --buttons-text: #feedede4;

  /* OUTPUT */
  --current-output: #f10c1b;
  --previous-output: #fe1717b4;

  --output-shadow: inset -4px 4px 20px #080808;
  --output-bg: linear-gradient(
    33deg,
    #3b3b3b,
    #151515 50%,
    rgb(25, 25, 25) 65%,
    rgb(31, 31, 31) 75%,
    #1b1b1b 80%,
    #111111 95%
  );
}
